$size-map: 5 10 15;
$width-map: 50 75 100;
$percent-map: 50 100;
$font-sizes: 10 11 12 13 14;

$primary-color: #409eff;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$success-color: #67c23a;
$info-color: #909399;
$black-color: #000;
$white-color: #fff;
$main-color: #303133;
$regular-color: #606266;
$secondary-color: #909399;

$bg-color: #f8f8f8;

$font-family-regular: -apple-system, BlinkMacSystemFont, 'PingFangSC-Regular', 'Source Han Sans CN',
  'Helvetica Neue';
$font-family-medium: -apple-system, BlinkMacSystemFont, 'PingFangSC-Medium',
  'Source Han Sans CN Medium', 'Helvetica Neue';

%font-medium {
  font-weight: 600;
  font-family: $font-family-medium;
}

// 部安全区适配
%safe-area-inset-bottom {
  box-sizing: content-box;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
