:export {
  defaultColor: $main-color;
  secondaryColor: $secondary-color;
  primaryColor: $primary-color;
  successColor: $success-color;
  warningColor: $warning-color;
  dangerColor: $danger-color;
}
